<a href="https://colab.research.google.com/github/saksham1965/data-analyst/blob/main/ASSIGNMENT_7_%26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
import seaborn as sns

# Load the Titanic dataset using seaborn
titanic = sns.load_dataset('titanic')

# Display the first few rows of the dataset
print("First 5 rows of the Titanic dataset:")
print(titanic.head())

# Display summary statistics
print("\nSummary statistics:")
print(titanic.describe(include='all'))

# Additional basic statistics
print("\nMedian values:")
print(titanic.median(numeric_only=True))

print("\nStandard deviation:")
print(titanic.std(numeric_only=True))

First 5 rows of the Titanic dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Summary statistics:
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

Median values:
survived       0.0000
pclass         3.0000
age           28.0000
sibsp          0.0000
parch          0.0000
fare          14.4542
adult_male     1.0000
alone          1.0000
dtype: float64

Standard deviation:
survived       0.486592
pclass         0.836071
age           14.526497
sibsp          1.102743
parch          0.806057
fare          49.693429
adult_male     0.489615
alone          0.489615
dtype: float64

In [3]:
age_data = titanic['age'].dropna()
fare_data = titanic['fare'].dropna()

# Calculate point estimates
age_mean = age_data.mean()
age_variance = age_data.var()

fare_mean = fare_data.mean()
fare_variance = fare_data.var()

print(f"Age - Mean: {age_mean:.2f}, Variance: {age_variance:.2f}")
print(f"Fare - Mean: {fare_mean:.2f}, Variance: {fare_variance:.2f}")

Age - Mean: 29.70, Variance: 211.02
Fare - Mean: 32.20, Variance: 2469.44

In [4]:
age_data = titanic['age'].dropna()

# Sample statistics
n = len(age_data)
mean_age = age_data.mean()
std_age = age_data.std()

# Compute standard error
se_age = std_age / np.sqrt(n)

# z-score for 95% confidence
z = 1.96

# Confidence Interval
ci_lower = mean_age - z * se_age
ci_upper = mean_age + z * se_age

print(f"95% Confidence Interval for mean age: ({ci_lower:.2f}, {ci_upper:.2f})")

95% Confidence Interval for mean age: (28.63, 30.76)

In [5]:
from scipy import stats
age_data = titanic['age'].dropna()
n = len(age_data)
mean_age = age_data.mean()
sem_age = stats.sem(age_data)


confidence = 0.95
ci = stats.t.interval(confidence, df=n-1, loc=mean_age, scale=sem_age)

print(f"95% Confidence Interval for mean age (using scipy): ({ci[0]:.2f}, {ci[1]:.2f})")

95% Confidence Interval for mean age (using scipy): (28.63, 30.77)

In [6]:
n_bootstrap = 1000
sample_size = len(age_data)
bootstrap_means = []

# Generate bootstrap samples and compute means
for _ in range(n_bootstrap):
    sample = np.random.choice(age_data, size=sample_size, replace=True)
    bootstrap_means.append(sample.mean())

# Compute 95% confidence interval from bootstrap sample distribution
lower = np.percentile(bootstrap_means, 2.5)
upper = np.percentile(bootstrap_means, 97.5)

print(f"95% Bootstrap CI for mean age (NumPy): ({lower:.2f}, {upper:.2f})")

95% Bootstrap CI for mean age (NumPy): (28.63, 30.86)